body 
{ margin: 8vh auto 0 auto;
  font-family: 'Roboto'; }

p { font-size: 1.8vh; }

h4 { font-size: 2vh; }

h3 { font-size: 2.3vh; }

h2 { font-size: 2.8vh !important }

h1 { font-size: 4vh !important }

nav
{ width: 100%;
  overflow: hidden; 
  height: 15vh; }

nav.navbar
{ background-color: rgba(0,0,0,0);
  -webkit-transition: all 0.4s ease;
  -moz-transition: all 0.4s ease;
  transition: all 0.4s ease; 
  color: #fff; }

nav.navbar.shrink 
{ height: 8vh;
  background-color: #bcb8c7; 
  box-shadow: 0px 3px 3px 3px rgba(0,0,0,0.1); 
  padding: 0 5vh; }

#navbar
{ padding-bottom: 1.5vh; }

.navbar
{ transition: 0.4s; }

#navbar img
{ width: 10vh;
  margin-top: -5px;
  margin-right: 2vw; 
  opacity: 0.7; }

#navbar .nav-els
{ display: inline; }

.navbar 
{ list-style: none;
  border: 0px;
  border-radius: 0; }

.navbar-collapse 
{ border: 0px; }

.navbar-toggle 
{ border: 0px;
  background-color: #fff !important; }

.navbar-toggle:hover 
{ background-color: #fff !important; }

.icon-bar 
{ background-color: rgba(0,0,0,0.5) !important; }

.navbar li a 
{ font-size: 2vh;
  padding: 2vh; 
  color: rgba(48, 44, 58, 0.8) !important }

.navbar li a:hover 
{ color: rgba(48, 44, 58, 0.4) !important }

.nav .active a
{ background-color: #bcb8c7 !important;
  color: rgba(255, 255, 255, 0.7) !important }

/** BANNER **/

.header-image 
{ margin-top: -8vh;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 60vh; }

#header-image
{ background-image: url("../assets/header_style.jpg"); 
  transition: 0.5s; }

#header-image:hover
{ background-image: url("../assets/header_style.jpg")}

/** SECIONS (GENERAL) **/

.section h2, h1
{ text-align: center;
  font-family: 'Sofia'; }

.section2 
{ background-color: rgba(214, 211, 222, 0.5); }


/** ABOUT ME **/
/* 992px */

.about-desc 
{ text-align: right; }

.about-main
{ padding: 7vh 0; 
  margin: 0 auto; }

.about-main p
{ text-align: center; 
  padding: 0 10vw; }

.about-tabs 
{ margin: 0 auto; 
  padding-bottom: 5vh;}

.about-tabs img
{ margin-right: 10px; }

.about-tabs .col-md-4
{ border-right: 3px solid #bebac9 }

.about-tabs .nav-pills .active a
{ background-color: rgba(121, 112, 143, 0.2); 
  color: #79708f; }

.about-tabs .nav-pills .active a:focus
{ background-color: rgba(121, 112, 143, 0.2); 
  color: #79708f; }

.about-tabs .nav-pills a:hover
{ background-color: rgba(121, 112, 143, 0.1); 
  color: #79708f; }

.about-tabs a
{ color: #79708f; }

.about-tabs .col-md-8
{ padding: 2vh 0 0 3vh; }



/** PROJECTS **/
#projects
{ text-align: left }

.prj-main
{ background-image: url(../assets/dark-banner.jpg);
  background-position: center;
  background-size: cover;
  color: rgba(255,255,255,0.8); 
  font-family: 'Sofia';
  font-size: 4em;
  padding: 3vh 0 3vh 4vh; }

.more
{ padding: 2vh 0 5vh 0; 
  text-align: center }

.more a
{ text-decoration: none; 
  color: #000; }

.more a:hover
{ color: #938da5; }

.prj-main li
{ display: block; }

.prj-main h2
{ text-align: left; }

.prj-lists
{ padding: 5vh 5vh 0 5vh; }

.prj-desc
{ padding: 2vh 0; }

.prj-frames
{ position: relative;
  margin-top: -15px; 
  z-index: 1 }

.prj-strings
{ z-index: -1; }

.prj-lists .col-md-4
{ margin: 0 auto; 
  text-align: center}

.prj-image
{ width: 60%;
  border: 20px solid #eee;
  margin: 0 auto; 
  box-shadow: 0px 3px 3px 3px rgba(0,0,0,0.2); }

.prj-lists .box
{ border: 6px solid rgba(255, 255, 255, 0.5); 
  padding: 5vh 5vh; }

.btn-prj, .btn-prj:hover, .btn-prj:active
{ background-color: #eee;
  box-shadow: 0px 1px 1px 1px rgba(0,0,0,0.1); 
  color: #555; 
  border-radius: 0;
  border: 0; }

/** CONTACT **/
#contact
{ height: 30vh;
  font-size: 18px;
  color: rgba(255,255,255,0.5);
  background-color: rgba(48, 44, 58, 0.8); 
  padding-bottom: 30vh; }

#contact li
{ list-style: none;
  display: inline; 
  padding: 0 3vh 0 0;}

.links 
{ padding: 5vh 10vh 0 10vh; }

.links .icons
{ padding: 3vh 0; }

.links img
{ height: 24px; }

footer 
{ bottom: 0; }

/** DAILY **/
.blogs 
{ text-align: center; }

.daily-header
{ padding: 7vh 0;
  background-image: url(../assets/daily-image.jpg);
  background-size: cover;
  background-position: center; 
  color: #fff;}

.blogs row
{ margin: 0 auto; }

.daily-titles
{ padding: 2vh;
  font-size: 2.4vh}

#daily
{ text-align: center; 
  padding: 0 0 7vh 0; }

.featuredblogs li
{ list-style: none; 
  display: block; 
  text-align: left;
  border-bottom: 1px solid rgba(48, 44, 58, 0.8); 
  padding: 2vh 0; }

.featuredblogs
{ padding: 0 10vw 0 10vw; }

.featuredblogs a
{ color: rgba(48, 44, 58, 0.8); }

.instagram-posts li 
{ display: inline-block; }

.instagram-posts 
{ padding: 5vh 0; }

.daily h3
{ font-family: 'Sofia'; 
  text-align: center; 
  padding-bottom: 2vh; }

.daily ul 
{ margin: 0 auto;
 text-align: center; }

.insta-images 
{ height: 12vw;
  width: 12vw;
  padding: 5vh; 
  position: relative}

.insta-images img
{ width: 30%;
  top: 30%;
  left: 35%;
  position: absolute}

/**********/
.border1 
{ height: 10px;
  width: 10vw;
  background-color: #bebac9;
  margin: 0 auto; }

.border2
{ height: 5px;
  width: 7vw;
  background-color: #bebac9;
  margin: 10px auto; }

.visible-image
{ visibility: visible; }

.hidden-image
{ display: none; 
  width: 90%; }

.hide-element
{ opacity: 0; }

.hidden-content
{ display: none !important; }

/** BLOGS **/
.blog-main
{ padding: 5vh 0; 
  color: #000; }

.blog-main #blog-title
{ text-align: center; 
  font-family: 'Sofia'; 
  font-size: 4vh; }

.blog-main #blog-date
{ color: #777; 
  text-align: center}

.blog-main #blog-contents
{ padding-bottom: 5vh; 
  text-indent: 5vw;}

.blog-main #blog-tags, #previous-blog
{ color: #777; }

.blog-main #blog-image
{ text-align: center; 
  padding: 5vh 0; }

.blog-main #blog-image img
{ width: 60% }


/** PROJECTS **/
.filter-form 
{ padding-top: 3vh; }

#selected-tags li
{ display: inline;
  padding: 3px 0px 3px 10px ;
  color: #333; 
  border-radius: 6px; 
  background-color: #bcb8c7;
  margin: 0 5px;}

#selected-tags button
{ color: #555;
  margin-right: 5px;
  background-color: #bcb8c7;
  border: 0; }

.projects-main
{ margin: 0 auto; }

.projects-main .contents
{ border: 10px solid #eee; 
  margin: 10px 5px; 
  padding: 15px; }

.projects-main .contents img
{ width: 90%; }